img  {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
*,*:after,*:before  {
    box-sizing: border-box;
}
a{
    line-height: 1.5;
    text-decoration: none !important;
}
ul,li{
    list-style: none; 
}
body{
    line-height: 1.5;
}