.link-light{
    color: $light !important;
    &:hover{
        color: $dark !important;
    }
    &.active{
        color: $secondary !important;
    }
}

@include media-breakpoint-down(lg) { //行動版
    .link-light{
        &:hover{
            color: $light !important;
            background: $dark !important;
        }
        &.active{
            color: $light !important;
            background: $dark !important;
        }
    }
 }